body{
    background-color:#EEEFFF;
}
.circular{
    border-radius: 100%;
}
hr{
    border-color:black;
    border-style:none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
   
}
h1{
    color:#66bfbf;
}
h1:hover{
    color:#7e66bf;
}
h3{
    color:#66bfbf;
}
h3:hover{
    color:#7e66bf;
}
p{
    color:#bf6676;
}
table{
   
   color:pink;
}
tr{
    color:#bf6676;
}